<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826533969938-1lqh5fd6r4smj4e4me18anjcd1j0d665.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826533969938-1lqh5fd6r4smj4e4me18anjcd1j0d665</string>
	<key>API_KEY</key>
	<string>AIzaSyCwijDyT1X2CdMHiy7LpgzZxfj6cVqG4Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>826533969938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesdok.beathub</string>
	<key>PROJECT_ID</key>
	<string>beathub-7cfa3</string>
	<key>STORAGE_BUCKET</key>
	<string>beathub-7cfa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826533969938:ios:fd2666e1ff2061dac598cb</string>
</dict>
</plist>